.nav-block {
	border: 1px solid black;
	background-color: rgba(242, 222, 232, 0.27);
}


.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}