/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* End Box Sizing */

body {
    width: 80%;
    margin: 0 auto 30px auto !important;
}

.container {
  max-width: 100%;
}

h1 {
    font-family: 'Courgette', 'Courier New', cursive !important;
    text-align: center;
    margin-bottom: 2em;
}

/*Sticky footer*/

footer {
    position: absolute;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background-color:#ccc;
    text-align:center;
    padding:5px;
}

a {
    font-weight: bold;
}
